@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(
    legacy-direction($direction),
    $color-stops
  );
  background: linear-gradient($direction, $color-stops);
}

@import "partials/_reset.scss";

body,
html {
  height: 100%;
}

.test {
  text-align: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  //@include linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  //background: black;
  //@include linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  //@include linear-gradient(hotpink, tomato);
}

// GRID:
/*.grid-container {
	display: grid;
	min-height: 100%;
	//grid-definition-columns: 1fr 1fr 1fr;
	//grid-definition-rows: 40px 150px 1fr 1fr 1fr 50px;
	grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
	grid-template: "navbar navbar navbar"
								 "header header header"
								 "sidebar main main"
								 "sidebar main main"
								 "aside1 aside2 aside3"
								 "footer footer footer";
	}

nav  { grid-area: navbar; height: 100%}
header  { grid-area: header; height: 100%}
main    { grid-area: main;   height: 100%}
#sidebar { grid-area: sidebar;height: 100%}
#aside-1 { grid-area: aside1; height: 100%}
#aside-2 { grid-area: aside2; height: 100%}
#aside-3 { grid-area: aside3; height: 100%}
#footer  { grid-area: footer; height: 100%}
footer  { grid-area: footer; height: 100%}
*/

/* Responsive 2-Column grid layout */

/* Define grid areas */
header {
  background-color: coral;
  grid-area: header;
}

footer {
  background-color: aquamarine;
  grid-area: footer;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: [edge-start] minmax(0.5rem, 1fr) [content-start] repeat(12, minmax(1rem, 5rem)) [content-end] minmax(0.5rem, 1fr) [edge-end];
  grid-column-gap: 1rem;
  padding: 3rem 0;
}
main {
  background-color: blueviolet;
  grid-area: main;
}
.left {
  background-color: aqua;
  grid-area: navigation;
}
.right {
  background-color: darkcyan;
  grid-area: ads;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";

  grid-template-columns: 150px 1fr 150px;

  grid-template-rows:
    100px
    1fr
    30px;

  min-height: 100vh;
}

header,
nav,
main,
footer {
  font-size: 1rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header {
  //margin: 0 0.75rem 0.75rem;
  border-top: 3px solid #ed6a5a;
  border-bottom: 3px solid #ed6a5a;
  grid-template-columns: 35vw 1fr;
  padding: 0.75rem 0;
}

header nav {
    display: grid;
    grid-template-columns: [edge-start] minmax(0.5rem, 1fr) [content-start] repeat(12, minmax(1rem, 5rem)) [content-end] minmax(0.5rem, 1fr) [edge-end];
    grid-column-gap: 1rem;
    padding: 0;
}

header nav .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column: content;
}

header nav .nav {
    grid-column: 8 / span 6;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

header nav .nav .nav-item {
    display: inline-block;
    margin: 0 1rem;
    padding: 0;
    line-height: 1;
    font-weight: 700;
}

.hg {
  display: grid;
  grid-template-areas:
    "header header header"
    "navigation main ads"
    "footer footer footer";

  grid-template-columns: 150px 1fr 150px;

  grid-template-rows:
    100px
    1fr
    30px;

  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .grid-container {
   /* grid-template-areas:
      "header"
      "navigation"
      "main"
      "footer";

    grid-template-columns: 100%;
    grid-template-rows:
      100px
      50px
      1fr
      50px
      30px;*/
      display: grid;
      grid-gap: 20px;
      grid-template-areas: 
        "header"
        "navigation"
        "main"
        "footer";
  }
}

@media (max-width: 700px) {
  main,
  aside {
    grid-column: 1 / span 5;
  }
}

@media (min-width: 700px) {
  .left ul {
    flex-direction: column;
  }
}

@media (min-width: 500px) {
  .left ul {
    display: flex;
    justify-content: space-between;
  }
}

.left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Demo Specific Styles */
